
obj/project.nuget.cache
obj/Advantage.API.csproj.nuget.dgspec.json
obj/Debug/netcoreapp3.1/Advantage.API.assets.cache
obj/Debug/netcoreapp3.1/Advantage.API.csproj.FileListAbsolute.txt
obj/project.assets.json
obj/project.nuget.cache
